@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(135deg, #1a1a1b 21%, #333f44 100%);
  background-repeat: no-repeat;
  color: #FFF;
  background-color: #1a1a1b;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
